**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.log
logs.txt
**.txt
.idea/
**.idea/
**.git/
**/.git
**/.github/
**/.gitignore
**/Thiskord_Back.Tests.csproj
**/Thiskord_Back.Tests.csproj/
**/docs/